@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container{
    height: 100vh;
    width: 100vw;
    background-color: #999494;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.calc{
    height: 500px;
    width: 270px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(19, 18, 18);
 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}
#top{
   
    width: 300px;
    height: 170px;
    
    display: flex;
    align-items: center;
    
}
#input{
   
    padding: 0px 15px;
    width: 270px;
 
    height: 40px;
    font-size: 2rem;
    border: none;
    background-color: transparent; 
     color: white;
    text-align: right;
}
#input:focus{
    outline: none;
   
}


#bottom{
    width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
}
button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
  
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 5px 10px;
    margin: 8px 5px;
}
#delete{
    padding:5px 0px;
    font-size: 1.2rem;
    text-align: center;
}
#zero{
    width: 110px;
}
#clear, #delete, #percent{
    background-color: rgb(203, 198, 198);
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero,#dot{
    background-color:  #313131;
    color: white;
}

#minus,#plus, #x, #divide, #equal{
    background-color: orange;
}